*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
.bg{
    height: 100vh;
    width: 100vw;
    background-image: url("https://img.freepik.com/free-photo/vegetables-set-left-black-slate_1220-685.jpg?size=626&ext=jpg&ga=GA1.1.1880011253.1699056000&semt=ais");
   background-size: 100%;
   background-position: center;
    
    background-repeat: no-repeat;
    
}
.intro{
    color:orange;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10%;
    margin-left: 8rem;
}
.collapse{
    background-color: orange;
}
.navbar-brand{
    background-color: green;
}
.container-fluid{
    background-color: orange;
}
.navbar{
    background-color: orange;
}
.collapse ul li a{
    transition: background(0.5s);  
}
.collapse ul li a:hover{
    background-color: green;
}
.desc{
    max-width: 30rem;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    color: aliceblue;
}
.bg button{
    /* background-color: orange; */
    border-radius: 2rem;
    width: 8rem;
    height:2.5rem;
    margin-left: 10rem;
    transition: background(0.5s);

}
.bg button:hover{
background-color: orange;
transform: translateY(-2px);
}


/* date */
.box{
    background-color: rgb(91, 90, 90);
    width: 25rem;
    height: 18rem;
    margin-top: 2rem;
    margin-left: 2rem;
    border: 2rem;
    padding: 1rem;
}
.date{
    margin: 2rem;
    color: aliceblue;
}
.time{
    margin: 2rem;
    color: aliceblue;
}
.btn{
   
   margin-right:2rem;
   margin-top: 2rem;
      background-color: green;
    color: aliceblue;
}
.formbox{
    padding: 1rem;
    background-color: rgb(58, 58, 58);
    color: aliceblue;
}
.table-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    background-color:rgb(58, 58, 58);
    
}
.bgc{
    background-color:rgb(58, 58, 58);
    padding: 1rem;
}
h3{
    color: aliceblue;
}
.card-body{
    transition :background(0.5s);
}
.card-body:hover{
    background-color: orange;
    transform: translateY(-2px);
}
.details{
    width: 20rem;
    height: 80%;
    background-color:rgb(58, 58, 58) ;
    color: aliceblue;
    padding: 1rem;
}
.content{
    line-height: 2rem;
}