<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head') %>
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
    
</head>
<body>
   
    <div class="bg">
        <%- include('./partials/nav') %>
        <h1 class="intro">Welcome to Odisha Cuisine</h1>
        <div class="desc">
            <p>Experience the Taste of Tradition at Odisha Cuisine: Where culinary artistry meets cultural heritage. Indulge in a symphony of authentic flavors and discover the heart and soul of Odisha on your plate</p>
        </div>
        <a href="/user/book"><button>Book a Table</button></a>
       </div>
    <%- include('./partials/script') %>
    
</body>
</html>